@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: bold;
    src: url("static/fonts/fonts/eot/iranyekanwebbold.eot");
    src: url("static/fonts/eot/iranyekanwebbold.eot?#iefix") format("embedded-opentype"), url("static/fonts/woff/iranyekanwebbold.woff") format("woff"), url("static/fonts/ttf/iranyekanwebbold.ttf") format("truetype");
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: normal;
    src: url("static/fonts/eot/iranyekanwebregular.eot");
    src: url("static/fonts/eot/iranyekanwebregular.eot?#iefix") format("embedded-opentype"), url("static/fonts/woff/iranyekanwebregular.woff") format("woff"), url("static/fonts/ttf/iranyekanwebregular.ttf") format("truetype");
}