@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: bold;
  src: url("static/fonts/fonts/eot/iranyekanwebbold.eot");
  src: url("static/fonts/eot/iranyekanwebbold.eot?#iefix") format("embedded-opentype"), url("static/fonts/woff/iranyekanwebbold.woff") format("woff"), url("static/fonts/ttf/iranyekanwebbold.ttf") format("truetype"); }
@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: normal;
  src: url("static/fonts/eot/iranyekanwebregular.eot");
  src: url("static/fonts/eot/iranyekanwebregular.eot?#iefix") format("embedded-opentype"), url("static/fonts/woff/iranyekanwebregular.woff") format("woff"), url("static/fonts/ttf/iranyekanwebregular.ttf") format("truetype"); }
html {
  font-size: 10px;
  font-family: iranyekan;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  direction: rtl; }

body {
  color: #656565;
  font-family: iranyekan;
  font-size: 14px;
  line-height: 27px;
  direction: rtl; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

a:hover,
a:visited,
a:focus,
a:active {
  text-decoration: none !important;
  outline: none !important; }

.btn, .app-landing .content .btn-download {
  display: inline-block;
  border: none;
  outline: none;
  background: #5a1544;
  background: -webkit-gradient(left top, right top, color-stop(0%, #5a1544), color-stop(98%, #ec3185), color-stop(100%, #ec3185));
  background: -webkit-gradient(linear, left top, right top, from(#5a1544), color-stop(98%, #ec3185), to(#ec3185));
  background: linear-gradient(to right, #5a1544 0%, #ec3185 98%, #ec3185 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5a1544', endColorstr='#ec3185', GradientType=1);
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  border-radius: 28px;
  padding: 15px 29px;
  position: relative; }
  .btn > span, .app-landing .content .btn-download > span {
    position: relative; }
  .btn:hover, .app-landing .content .btn-download:hover {
    color: #190A32; }
  .btn:before, .app-landing .content .btn-download:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    border-radius: 28px;
    background: #fff;
    opacity: 0;
    -webkit-transition: all .4s ease;
    transition: all .4s ease; }
  .btn.hasIcon, .app-landing .content .hasIcon.btn-download {
    padding-right: 50px; }
  .btn.bordered, .app-landing .content .bordered.btn-download {
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #190A32; }
    .btn.bordered:before, .app-landing .content .bordered.btn-download:before {
      content: '';
      position: absolute;
      top: 2px;
      left: 2px;
      right: 2px;
      bottom: 2px;
      border-radius: 28px;
      background: #fff;
      opacity: 1;
      -webkit-transition: all .4s ease;
      transition: all .4s ease; }
    .btn.bordered:hover:before, .app-landing .content .bordered.btn-download:hover:before {
      opacity: 0; }
    .btn.bordered:hover i.icon svg, .app-landing .content .bordered.btn-download:hover i.icon svg {
      fill: #fff; }
  .btn i, .app-landing .content .btn-download i {
    position: absolute;
    right: 17px;
    width: 22px; }
    .btn i.icon svg, .app-landing .content .btn-download i.icon svg {
      fill: #d43c96; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

.wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-width: 300px;
  overflow: hidden; }

.app-landing {
  box-sizing: border-box;
  width: 100%;
  text-align: right; }
  .app-landing:before {
    content: " ";
    display: table; }
  .app-landing .bg {
    background: #fff url("static/img/bg.jpg") 90% top no-repeat;
    padding-top: 70px;
    overflow: hidden; }
  .app-landing .content {
    padding-top: 210px; }
    .app-landing .content h3 {
      margin: 0;
      color: #190A32;
      font-size: 42px;
      line-height: 60px;
      font-weight: 600;
      margin-bottom: 11px; }
    .app-landing .content p {
      margin: 0;
      color: #190A32;
      font-size: 16px;
      line-height: 30px;
      margin-bottom: 54px; }
    .app-landing .content .btn-download {
      margin-bottom: 20px;
      box-shadow: 0px 15px 30px rgba(212, 50, 151, 0.27); }
      .app-landing .content .btn-download:hover {
        color: #fff;
        box-shadow: 0px 15px 30px rgba(212, 50, 151, 0.27); }
  .app-landing .moc > img {
    position: relative;
    left: 175px;
    width: 1000px; }

.socials {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }
  .socials a {
    position: relative;
    display: inline-block;
    padding: 20px .75%;
    text-decoration: none;
    color: #190A32;
    -webkit-transition: color 0.25s;
    -moz-transition: color 0.25s;
    -o-transition: color 0.25s;
    -ms-transition: color 0.25s;
    transition: color 0.25s;
    margin-left: 20px;
    width: 32px; }
    .socials a span {
      position: absolute;
      bottom: -30px;
      right: -33px;
      opacity: 0;
      text-align: center;
      transition: transform 0.25s, opacity 0.35s;
      width: 100px;
      transform: translateY(-4px); }
    .socials a:hover span {
      opacity: 1;
      transform: translateY(0); }
    .socials a.telegram {
      background: url("static/img/telegram.svg") center no-repeat; }
    .socials a.twitter {
      background: url("static/img/twitter.svg") center no-repeat; }
    .socials a.instagram {
      background: url("static/img/instagram.svg") center no-repeat; }
    .socials a.blog {
      background: url("static/img/blog.svg") center no-repeat; }

@media (max-width: 1366px) {
  .app-landing .bg {
    background: #fff url("static/img/bg.jpg") center top no-repeat;
    background-size: cover; } }
@media (max-width: 767px) {
  .btn, .app-landing .content .btn-download {
    width: 100%;
    text-align: center; }
    .btn.bordered, .app-landing .content .bordered.btn-download {
      width: 49%; }

  .app-landing .bg {
    background-position: left; }
  .app-landing .content {
    padding-top: 10px; }
    .app-landing .content h3,
    .app-landing .content p {
      color: #fff; }
  .app-landing .moc > img {
    position: relative;
    left: 270px; }

  .socials {
    text-align: center; }
    .socials a.telegram {
      background: url("static/img/telegram-mobile.svg") center no-repeat; }
    .socials a.instagram {
      background: url("static/img/instagram-mobile.svg") center no-repeat; }
    .socials a.blog {
      background: url("static/img/blog-mobile.svg") center no-repeat; } }
@media (max-width: 450px) {
  .app-landing .moc > img {
    position: relative;
    left: 295px; }

  .btn.hasIcon, .app-landing .content .hasIcon.btn-download {
    border-radius: 50px;
    padding-right: 50px;
    padding: 41px 0 7px; }
    .btn.hasIcon:before, .app-landing .content .hasIcon.btn-download:before {
      border-radius: 50px; }
    .btn.hasIcon i, .app-landing .content .hasIcon.btn-download i {
      top: 22px;
      right: auto;
      left: 50%;
      transform: translate(-50%, -50%); } }
@media (max-width: 400px) {
  .app-landing .moc > img {
    position: relative;
    left: 275px;
    width: 900px; }

  .btn, .app-landing .content .btn-download {
    width: 100%;
    text-align: center; }
    .btn.bordered, .app-landing .content .bordered.btn-download {
      width: 100%; } }
@media (max-width: 340px) {
  .app-landing .moc > img {
    left: 265px;
    width: 800px; } }
.loading {
  background-color: #fff;
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 1;
  pointer-events: none;
  -webkit-transition: opacity cubic-bezier(0.4, 0, 0.2, 1) 436ms;
  -moz-transition: opacity cubic-bezier(0.4, 0, 0.2, 1) 436ms;
  transition: opacity cubic-bezier(0.4, 0, 0.2, 1) 436ms;
  z-index: 9999999; }
  .loading.available {
    opacity: 0; }
  .loading .insp-logo-frame {
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-animation: fadein 436ms;
    -moz-animation: fadein 436ms;
    animation: fadein 436ms;
    height: 98%; }
  .loading .insp-logo-frame-img {
    width: 112px;
    height: 112px;
    -webkit-align-self: center;
    -moz-align-self: center;
    align-self: center;
    border-radius: 50%; }
  .loading .loading-head {
    background-color: #c6dafc;
    height: 4px;
    overflow: hidden;
    position: relative; }
    .loading .loading-head .first-indicator,
    .loading .loading-head .second-indicator {
      background-color: #333;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      position: absolute;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      transform-origin: left center;
      -webkit-transform: scaleX(0);
      -moz-transform: scaleX(0);
      transform: scaleX(0); }
    .loading .loading-head .first-indicator {
      -webkit-animation: first-indicator 2000ms linear infinite;
      -moz-animation: first-indicator 2000ms linear infinite;
      animation: first-indicator 2000ms linear infinite; }
    .loading .loading-head .second-indicator {
      -webkit-animation: second-indicator 2000ms linear infinite;
      -moz-animation: second-indicator 2000ms linear infinite;
      animation: second-indicator 2000ms linear infinite; }
  .loading .insp-logo {
    animation: App-logo-spin infinite 20s linear;
    border-radius: 50%;
    -webkit-align-self: center;
    -moz-align-self: center;
    align-self: center; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes first-indicator {
  0% {
    transform: translate(0%) scaleX(0); }
  25% {
    transform: translate(0%) scaleX(0.5); }
  50% {
    transform: translate(25%) scaleX(0.75); }
  75% {
    transform: translate(100%) scaleX(0); }
  100% {
    transform: translate(100%) scaleX(0); } }
@keyframes second-indicator {
  0% {
    transform: translate(0%) scaleX(0); }
  60% {
    transform: translate(0%) scaleX(0); }
  80% {
    transform: translate(0%) scaleX(0.6); }
  100% {
    transform: translate(100%) scaleX(0.1); } }

/*# sourceMappingURL=styles.css.map */
